* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

html, body, #wrap {
	height: 100%;
}

iframe {
    width: 100%;
	height: 100%;
}